<!-- ngClass can change the element's style class on the fly in terms of the
      data in the Component. ngClass is an Attribute Directive meaning it can
       change certain properties of the element. ngClass takes a value which
       is an Object type that has the following pattern of properties:
          { '<name_of_the_class>': bool, ... }
       In this example the "classes" is a property in DirectoryComponent class,
        which stored an object literal as such:
        classes = { 'blue': true, 'red': false, 'underline': true };
       The corresponding style classes are defined in the inline style sheet
       <style>...</style> down below. -->
<!--
<p [ngClass]="classes">
  directory works!
</p>
-->

<!-- *ngIf is a Structural Directive meaning that it will change the rendered HTML's
      source code. All Structural Directives have a prefix of '*'.
      *ngIf can control the visibility (or rather, existence) of a
       HTML element according to the BOOLEAN expression passed in as its value.
        If the expression 'test' from the Component is evaluated to true, then the
        <p> element will be displayed on the view, otherwise it will disappear. -->
<!--
<p *ngIf="test">Only show if test is true</p>
<p>{{ninja}}</p>
-->
<!--
<style>
  .blue{color: blue}
  .red{color: red}
  .underline{text-decoration: underline}
</style>
-->

<h2>Ninja Listing</h2>
<form id="filter">
  <label>Filter ninjas by name:
    <!--
      Store whatever the user types in the input field in a variable call 'term'.
      If ngModel is used within a form tag, either the name attribute must be set
       or the form control must be defined as 'standalone' in ngModelOptions.

      Example 1:
            <input [(ngModel)]="person.firstName" name="first">
      Example 2:
            <input [(ngModel)]="person.firstName" [ngModelOptions]="{standalone: true}">
     -->
    <input type="text" [(ngModel)]="term" name="ninjaName" />
  </label>
</form>
<ul id="ninja-listing">
  <!-- *ngFor is another Structural Directive that is used to loop through a collection
       of data and generate the corresponding HTML element (<li> in this case) upon
       each iteration. The syntax of its value is as the following:
            let <local_var> of <collection>
       where the <local_var> is the temporary placeholder for the items in the
        <collection> when they are iterated.
        This is kinda like 'for item in itemArray'. -->
  <li *ngFor="let ninja of (ninjas | filter:term)">
    <div class="single-ninja">
      <!-- Belt Colour -->
      <!-- ngStyle is another Attribute Directive that can change the style property
           of an HTML element on the fly. It is similar to ngClass. -->
      <span [ngStyle]="{background: ninja.belt}">{{ninja.belt}} belt</span>
      <!-- Ninja Name -->
      <h3>{{ninja.name}}</h3>
      <!-- In Angular there is a builtin operator called 'pipe' (Not the pipe in
            File I/O). The Angular's Pipe simply adjusts the data output on the
            view. The operator is '|' (vertical bar) followed by a pipe function.
            We can define our own pipe function or use the builtin ones such as
            'uppercase' and 'slice'.
             'uppercase' takes no param and turns the input into uppercase.
             'slice' takes up to two params (the second one is optional) and it
              removes whatever characters up to the first param (an index),
              and also removes the rest of characters starting from the second param
              (also an index) if the second param is provided.
              Feeding param(s) to a pipe function is like the following:
                 ...<some_input>  | <function>:<param1>:<param2>:...
             -->
      <h3>{{ninja.name | uppercase | slice:1:3}}</h3>
      <button (click)="fbDeleteData(ninja)">Delete Ninja</button>
    </div>
  </li>
</ul>

<form ngNativeValidate id="add-ninja" >
  <label>
    name:
    <input type="text" [(ngModel)]="name" required [ngModelOptions]="{standalone: true}">
  </label>
  <label>
    belt:
    <input type="text" [(ngModel)]="belt" required [ngModelOptions]="{standalone: true}">
  </label>
  <button (click)="fbPostData(name, belt)">Add Ninja</button>
</form>

<button (click)="logIt()">Log Me</button>
