<!--The content below is only a placeholder and can be replaced.-->
<header>
  <h1>{{title}}</h1>
  <nav>
    <ul>
      <!--
      <li><a href="/">Home</a></li>
      <li><a href="/directory">Directory</a></li>
      -->
      <!-- use routerLink to avoid refreshing on the website when switching to another
            view.
            Note that routerLink is used as a Property Binding.
            Also, routerLink takes an array as argument which contains all the
            segments for a particular URL.
            For example, if linking to a URL like this '/directory/zed', the
             segments are 'directory' and 'zed'. Hence the array should be like:
                ['directory', 'zed']
            For linking to root url, either ['<empty>'] or ['/'] is fine.
            The root URL '/' can always be omitted so both these segments:
                ['/directory'], and ['directory'] are equivalent for the URL
                '/directory' -->
      <li><a [routerLink]="['/']">Home</a></li>
      <li><a [routerLink]="['directory']">Directory</a></li>
    </ul>
  </nav>
</header>
<section id="main">
  <!-- binding the data in a customer property 'ninja' in order to send the data
        along with the directive 'app-home' when the application is built. For
        example, upon loading the 'home.component.html' when <app-home> is compiled
        in the HTML by the browser, the component class in 'home.component.ts'
        can access the data stored inside our customer property 'ninja' from the
        <app-home> directive.
        'onYell' is a customer event that is defined in 'home.component'. It is
         accessible to the root component because it is decorated by @Output in
         'home.component'. -->
  <!-- <app-home [ninja]="ninja" (onYell)="yell($event)">Hello World!</app-home> -->

  <!-- <router-outlet> directives allow dynamically loading different views from
        different components according to the specified routes, which is setup in
        the app.module and loaded as the app being built. -->
  <router-outlet></router-outlet>
</section>

